:global(body) {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menu {
    display: flex;
    flex-direction: column;
    padding: 4px 12px;
    gap: 10px;
}

.optionHolder {
    display: flex;
    flex-direction: column;
    gap: 5px
}

.button {
    font-size: 16px;
    font-weight: 500;
    padding: 4px 8px;
    background-color: #2196F3;
    color: white;
    border-radius: 5px;
    border: 0;
    text-align: center;
    white-space: nowrap;
}

.button:hover {
    cursor: pointer;
    background-color: #70b9f5;
}

.button:active {
    background-color: #074a81;    
}
