.notification {
    position: relative;
    padding: 5px 15px;
    border-radius: 10px;
    font-size: 1.2rem;
    width: 100%;
    text-align: center;
    visibility: 1;
    opacity: 1;
    color: #fff;
    transition: opacity 0.5s ease, transform 0.5s ease;
    animation: rollout 0.5s;
}

@keyframes rollout {
    0% {
        transform: translateX(100%);
        visibility: 0;
        opacity: 0;
    }
    100% {
        transform: none;
        visibility: 1;
        opacity: 1;
    }
}

.notification_error {
    background: red;
}

.notification_warn {
    background: yellow;
}

.notification_info {
    background: blue;
}
