$main-color: #BE16B7;
$second-color: #00A8EC;
$inactive-color: #E8E7E7; //F4F4F4
$hints-color: #C1C1C1;

$main-font: Montserrat;


@font-face {
    font-family: Montserrat;
    src: url(/assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}