$main-color: #be16b7;
$second-color: #00a8ec;
$inactive-color: #e8e7e7; //F4F4F4
$hints-color: #c1c1c1;

$main-font: Montserrat;

@font-face {
    font-family: Montserrat;
    src: url(/assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}
