$main-color: #be16b7;
$second-color: #00a8ec;
$inactive-color: #e8e7e7;
$hints-color: #909090;

$main-font: Montserrat;

@font-face {
    font-family: Montserrat;
    src: url(/assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}
