@import "../../styles/constants.scss";
@import "../../styles/utils.scss";


$border-width: 3px;

.tooltip {
    position: relative;
    &__box {
        z-index: 5;
        position: absolute;
        background: rgba(0, 0, 0, 0.9);
        color: #fff;
        padding: 5px;
        border-radius: 5px;
        top: calc(100% + 5px);
        border: $border-width solid $main-color;
        box-sizing: border-box;
        transition: opacity 0.3s ease, visibility 0s;
        visibility: hidden;
        opacity: 0;

        &_visible {
            visibility: visible;
            opacity: 1;
        }
    }

    &__arrow {
        position: absolute;
        top: calc(-10px - $border-width);
        left: 50%;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent $main-color transparent;
    }
}

